@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: #fff;
}
 header h1{
  color:red;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 6vh;
  background-color: #fff; 
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  z-index: 3;
}
.header-content-left {
  display: flex;
  align-items: center;
}
.header-content-right {
  margin-left: auto; 
}
main{
  position: relative;
  top: 6vh;
  width: 100%;
}
  