/* Phone styles*/

@media (max-width: 767px) {
    
    .containerImage{
        height: 660px;
        overflow: hidden;
        position:relative;
        width: 100%;
    }
    .containerImage p{
        font-size:7vw;
        font-weight:700;
        position: absolute;
        bottom:10px;
        left: 10px;
        right: 100px;
        color: white;
        z-index: 2 ;
    }
    .containerLinks ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .containerLinks ul li{
        flex-basis: calc(33.33% - 10px);
        margin: 3px; 
    }
    .containerLinks ul li a{
        font-size: small;
        text-decoration: underline;
        padding: 3px 7px;
        color: #333; 
        border-radius: 2px;
        background-color: #f0f0f0;
    }
    .containerLinksImage {
        overflow-x: auto; 
        padding:20px;
    }  
    .containerLinksImage ul {
        list-style: none;
        margin: 0;
        display: flex;
        flex-wrap: nowrap; 
    } 
    .containerLinksImage ul li {
        flex: 0 0 auto; 
        margin-right: 10px; 
    }  
}
  
  /* Computer styles */
 
  @media (min-width: 768px) {

    .containerImage{
        height: 800px;
        overflow: hidden;
        position:relative;
        padding: auto;
    }
    .containerImage p{
        font-size:4vw;
        font-weight:700;
        position: absolute;
        bottom:70px;
        left: 80px;
        right:150px;
        color: white;
        z-index: 2 ;
    }
     .containerLinks ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .containerLinks ul li{
        margin-right: 5px;
    } 
    .containerLinks ul li a{
        text-decoration: underline;
        padding: 5px 10px;
        color: #333; 
        border-radius: 5px;
        background-color: #f0f0f0; ;
        display: inline-block;
    }
    .containerLinksImage {
        padding: 20px;
        justify-content: center;
    }  
    .containerLinksImage ul {
        list-style: none;
        display: flex;
        justify-content: center;
    } 
    .containerLinksImage ul li {
        text-align: center;
        padding: 10px;
    }   
}

/* Common styles */

.containerLinks{
    text-align: center;
    padding: 20px;
} 
.title{
    font-family: 'Noto_Serif';
    font-size: 30px;
    margin-bottom: 10px; 
} 
.containerLinks ul li a:hover {
    background-color: #ddd;
}
.containerLinksImage a{
    text-decoration: underline;
}
.containerLinksImage img{
    margin-bottom: 20px;
}
.containerProducts{
    width: 100%;
    height: auto;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    place-items: center;
    grid-gap:10px;
}
.buttonProducts{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 20px;
}
.buttonProducts button{
    height: 50px;
    width: 250px;
    border:1px solid;
    text-transform: uppercase;
    background: none;
    cursor: pointer;
}

  

